*{
    margin: 0;
    padding: 0;
}
.bg{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.butt{
    font-size: larger;
    width: 10%;
    height:5vh;
}
#shape{
    width: 100px;
    height: 100px;
}